.container4 {
  height: 120px;
  width: 680px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  .slider {
    position: relative;
    width: 650px;
    height: 75px;
  }
  .slider__track,
  .slider__range,
  .slider__left-value,
  .slider__right-value {
    position: absolute;
  }

  .slider__track,
  .slider__range {
    border-radius: 3px;
    height: 5px;
  }

  .slider__track {
    background-color: #ced4da;
    width: 100%;
    z-index: 1;
  }

  .slider__range {
    background-color: #9fe5e1;
    z-index: 2;
  }

  .slider__left-value,
  .slider__right-value {
    color: #222222;
    font-size: 14px;
    font-weight: 400;
    margin-top: 20px;
  }

  .slider__left-value,
  .slider__right-value {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 5px;
    align-items: center;
  }

  .value_container {
    border: 1px solid #e9e9e9;
    width: 100%;
    padding: 10px;
    border-radius: 10px;

    .count {
      font-size: 18px;
      font-weight: 600;
    }
  }

  .slider__left-value {
    left: 6px;
    top: 5px;
  }

  .slider__right-value {
    right: -4px;
  }

  /* Removing the default appearance */
  .thumb,
  .thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
  }

  .thumb {
    pointer-events: none;
    position: absolute;
    top: 20px;
    height: 0;
    width: 650px;
    outline: none;
  }

  .thumb--left {
    z-index: 3;
  }

  .thumb--right {
    z-index: 4;
  }

  /* For Chrome browsers */
  .thumb::-webkit-slider-thumb {
    background-color: #fff;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #ced4da;
    cursor: pointer;
    height: 30px;
    width: 30px;
    border: 2px solid gray;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
  }

  /* For Firefox browsers */
  .thumb::-moz-range-thumb {
    background-color: #f1f5f7;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #ced4da;
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
  }
}
