.privet_life {
  h2 {
    line-height: 1;
    background-image: linear-gradient(111deg, #60aef8, #66d3f4 50%, #44f3ff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
