.join_us_section {
  .grid_col_2 {
    gap: 1rem !important;
  }
  .wrapper2 {
    padding: 68px 51px !important;
    box-shadow: 0 3px 20px 0 rgb(8 15 52 / 6%);

    h5 {
      font-weight: 600;
      font-size: 18px;
      margin-bottom: 25px;
      text-align: center;
    }

    form {
      .submit {
        margin-top: 0 !important;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .join_us_section {
    .header {
      padding-top: 30px;
    }
    h2 {
      font-size: 32px;
    }
    .wrapper2 {
      padding: 20px 20px !important;
    }
  }
}
