.contact {
  .divider {
    width: 100%;
    height: 1px;
    margin: 20px 0;
    border-top: 1px solid #8d8d914f;
  }
  .sub_header_contact {
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 100px;

    .sub_header_bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      min-height: 82%;
      background-image: url(../../../Assets/images/hero_bg.jpeg);
      background-repeat: no-repeat;
      background-position: 60% 100%;
      background-size: auto;
      background-attachment: fixed;
    }

    .sub_header_wrapper {
      max-width: 720px;
      color: white;
      text-align: center;
      padding: 20px;
      margin-top: 115px;

      h2 {
        margin-top: 0px;
        margin-bottom: 14px;
        font-size: 48px;
        line-height: 1.25em;
        font-weight: 700;
        color: #fff;
      }
      p {
        color: white;
        font-weight: 500;
      }

      .contact_card {
        display: flex;
        gap: 25px;

        .card {
          background-color: #fff;
          padding: 32px 34px 44px;
          border-radius: 24px;
          margin-top: 50px;
          color: #000;
          display: flex;
          flex-direction: column;
          align-items: center;
          cursor: pointer;
          transition: all 0.3s;
          height: fit-content;
          width: 450px;
          box-shadow: 0 3px 20px 0 rgb(8 15 52 / 6%);

          .icon_wrapper {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;

            img {
              width: 100%;
              transition: all 0.3s;

              &:hover {
                width: 105%;
              }
            }
          }

          h3 {
            font-size: 22px;
            line-height: 1.364em;
            font-weight: 600;
            margin: 20px 0 10px 0;
            transition: all 0.3s;
          }

          p {
            color: #8d8d91;
            margin-top: 0;
          }

          .email {
            margin: 0;
            color: #0099c2;
            font-weight: 600;
          }

          &:hover {
            margin-top: 40px;
            box-shadow: 0 3px 20px 0 rgb(8 15 52 / 6%);

            h3 {
              color: rgb(0, 154, 194);
            }
          }
        }
      }
    }
  }

  .message {
    padding: 0 40px;
    margin-top: 50px;
    padding-top: 175px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;

    .left {
      h2 {
        margin-top: 0px;
        margin-bottom: 16px;
        color: #222223;
        font-size: 32px;
        line-height: 1.375em;
        font-weight: 600;
        text-align: center;
      }
    }

    .right {
      padding: 0 50px;
      .block {
        width: 100%;
        display: flex;
        gap: 20px;
        justify-content: space-between;

        .input {
          width: 100%;
        }
      }
      .textarea {
        height: 188px;
        padding: 10px 20px;
      }

      .button {
        padding: 18px 40px;
        transition: all 0.3s;

        &:hover {
          scale: 0.96;
        }
      }
    }
  }

  .faq_section {
    .faq-header {
      text-align: center;

      h2 {
        margin-top: 0px;
        margin-bottom: 16px;
        color: #222223;
        font-size: 32px;
        line-height: 1.375em;
        font-weight: 700;
      }
      p {
        margin-bottom: 20px;
      }
    }
  }
}
@media screen and (max-width: 992px) {
  .contact {
    .sub_header_contact {
      max-height: 50%;

      .contact_card {
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .card {
          width: 100% !important;
        }
      }
    }

    .message {
      grid-template-columns: 1fr;

      .left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .right {
        padding: 0 0px;
      }
    }
    .faq_section {
      .faq-header {
        text-align: center;

        h2 {
          margin-top: 0px;
          margin-bottom: 16px;
          color: #222223;
          font-size: 32px;
          line-height: 1.375em;
          font-weight: 700;
        }
        p {
          margin-bottom: 20px;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .contact {
    .sub_header_contact {
      .contact_card {
        .card {
          width: 100% !important;
          padding: 24px 25px 44px !important;
        }
      }
    }
    .message {
      padding: 0 0;
      .right {
        .block {
          flex-direction: column;
        }
      }
    }
  }
}
