.error_401,
.error_404 {
  background: linear-gradient(180deg, #fff 50%, #f9f9f9 50%);
  .error_content {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .error_wrapper {
      max-width: 850px;
      padding: 0 70px 70px 70px;
      border-radius: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      box-shadow: 0 3px 20px 0 rgb(8 15 52 / 6%);
      margin-top: -20px;

      h2 {
        color: #222223;
        font-size: 32px;
        line-height: 1.375em;
        font-weight: 600;
        margin-bottom: 15px;
        margin-top: 10px;
      }
      p {
        margin-bottom: 10px;
      }
      .lock_icon {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 95%;
        }
      }
      form {
        display: flex;
        flex-direction: column;
        input[type="text"] {
          width: 510px;
          padding: 15px 20px;
          border-radius: 12px;
          background-color: #f6f6f6;
          border: 1px solid #f6f6f6;
          transition: all 0.3s;
          outline: none;
          margin-bottom: 20px;
          height: 64px;

          &:hover {
            border: 1px solid #0c98c1;
          }
        }
        .button {
          transition: all 0.3s;

          &:hover {
            scale: 0.98;
          }
        }
      }
    }
  }
}

.error_404 {
  p {
    text-align: center;
  }
  .button_area {
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    .button {
      width: 240px;
      transition: all 0.3s;

      &:hover {
        scale: 0.97;
      }

      &:nth-child(1) {
        color: #000;
        background-color: #fff;
        box-shadow: 0 2px 12px 0 rgb(20 20 43 / 7%);

        &:hover {
          color: #fff;
          background-color: #0c98c1;
        }
      }
    }
  }
}
@media screen and (max-width: 992px) {
  .error_wrapper {
    display: flex;
    flex-direction: column !important;
    padding: 0 30px 30px 30px !important;

    img {
      width: 65% !important;
    }
    .title {
      font-size: 24px !important;
      text-align: center;
    }
    .button_area {
      display: flex;
      flex-direction: column;
    }
    form {
      input {
        width: 100% !important;
      }
    }
  }
}
