.paypal_checkout {
  .paypal_info {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    h3 {
      margin-right: 20px;
      margin-bottom: 40px;
      font-weight: 600;
      font-size: 20px;
      color: #222223;
    }

    h4 {
      color: #222223;
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    .wrapper_left {
      flex: 2;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .wrapper {
        padding: 20px 30px;
        border-radius: 24px;
        box-shadow: 2px 2px 20px 0 rgb(8 15 52 / 6%);

        .module {
          display: flex;
          gap: 20px;
          justify-content: space-between;

          div {
            width: 100%;
          }
        }

        .module3 {
          display: flex;
          justify-content: space-between;

          .left {
            display: flex;
            gap: 20px;

            a {
              width: 84px;
              height: 84px;
              border-radius: 24px;
              overflow: hidden;
              transition: all 0.3s;
              cursor: pointer;

              img {
                height: 100%;
              }

              &:hover {
                scale: 1.1;
              }
            }
          }
        }
      }
    }

    .wrapper_right {
      flex: 0.75;
      position: sticky;
      top: 120px;
      padding: 20px 30px;
      border-radius: 24px;
      box-shadow: 2px 2px 20px 0 rgb(8 15 52 / 6%);

      h4 {
        margin-top: 20px;
      }

      input {
        width: 100%;
        height: 62px;
      }

      .button {
        display: block;
        width: 100%;
        margin: 20px 0;
        color: white;
        background-color: #000;
        transition: all 0.3s;

        &:hover {
          background-color: #0099c2;
          scale: 0.96;
        }

        &.apply {
          color: #000;
          background: white;
          box-shadow: 2px 2px 20px 0 rgb(8 15 52 / 6%);
          transition: all 0.3s;

          &:hover {
            background-color: #f85757;
            scale: 0.96;
            color: white;
          }
        }
      }
    }
  }
}
