body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.inpout input {
  background: transparent !important;
}

.css-1v994a0 {
  font-size: 15px;
}
.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border: none !important;
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  width: 150px !important;
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 0 0 !important;
  height: 20px !important;
  transition: all 0.3s !important;
}
.css-igs3ac {
  display: none !important;
}
.css-1x5jdmq {
  padding: 0 !important;
}
